@import "../vars.css";

/*
CardDeck: The main body of the page.
    Component is CardDeck.tsx
*/
.cardDeck {
    height: auto;
    max-width: 800px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 2%;
}

/*
CardSection: Each collection of entries of data, e.g. "Education"
    Component is CardSection.tsx
*/
.cardSection {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
CardEntry: The individual card(s) inside each CardSection, e.g. "Boston University"
    Component is CardEntry.tsx
*/
.cardEntry {
    height: auto;
    width: fit-content;
    background-color: var(--pool-sky);
    border: 1px solid var(--black-sand);
    border-radius: 4px;
}
