@import "../vars.css";

/*
CardDeck: The main body of the page.
    Component is CardDeck.tsx
*/
.cardDeck {
    max-width: 1200px; /* Common max-width for desktop */
    min-width: 60px;
    height: auto;
    margin: 2% auto; /* 2% on top/bottom; centered on left/right */
    background-color: var(--color-section-shade);
    display: flex; /* Just like before: Each content entry will be its own block */
    flex-direction: column; /* and those blocks will be arranged along the y-axis. */
}

/*
CardSection: Each section of data entries, e.g. "Education"
    Component is CardSection.tsx
    Sub-elements:
        .title (h2)
        .subtitle? (h3)
*/
.cardSection {
    height: auto;
    width: 100%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cardSection .title {
    color: var(--color-text-title);
}

.cardSection .subtitle {
    color: var(--color-text-subtitle);
}

/*
CardEntry: The individual card(s) inside each CardSection, e.g. "Boston University"
    Component is CardEntry.tsx
    Sub-elements:
        .cardEntryUpperLeftCorner
            .title (h3)
            .subtitle? (h4)
        .upperRightCorner (slot)
        .cardEntryDesc (span)
        .callout? (aside)
        .descExpansion (Component DescExpansion; has its own section)
        .footer (slot)
*/
.cardEntry {
    height: auto;
    min-height: 160px;  /* Avoid any crazy-short entries making the box too thin */
    width: 95%;
    margin: 1% auto; /* No margin on top/bottom; centered left/right */
    padding: 3%;
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-card-border);
    border-radius: 5px;
    text-align: left;
}

/* Holds {title} + {subtitle} */
.cardEntry .upperLeftCorner {
    
}

.cardEntry .title {
    color: var(--color-text-title);
}

.cardEntry .subtitle {
    color: var(--color-text-subtitle);
}

/*
.cardEntryUpperRightCorner is an empty slot in base CardEntry.
    This should be described only structurally; let the specific use case determine color, text size, etc.
*/
.cardEntry .upperRightCorner {
    
}

/* Separate styling from the expandable part! */
.cardEntry .description {
    color: var(--color-text-body);
}

.cardEntry ul {
    list-style-position: outside; /* This is the default, but making it explicit */
    padding-left: 1rem; /* I don't want my bullets to sit outside the description box! */
}


.cardEntry .callout {
    background-color: var(--color-card-bg-light);
    border: 1px solid var(--color-card-callout);
    border-left: 3px solid var(--color-card-callout);
    border-radius: 4px;
    padding: 16px;
    font-size: 0.9rem;
    color: var(--color-text-subtitle);
}

/* The descExpansion component has two parts:
    - the preview bar (which serves as a button),
    - the actual description that expands/shrinks when the button is clicked.
*/
.descExpansion {

}
.descExpansion.open {

}
.descExpansionTrigger {

}
.descExpansionPreview {

}
.descExpansionPreview.open {

}
.descExpansionText {

}

/*
TechnicalCardEntry: A subtype of CardEntry for Employment and Education entries.
    Component is TechnicalCardEntry.tsx
    Sub-elements:
        .upperRightCorner -> .cardEntryUpperRightCorner
            .duration (h5)
            .location (h5)
        .footer -> .techStack (Component TechStack)
*/

.upperRightCorner > .duration {

}

.upperRightCorner > .location {

}

/* For TechnicalCardEntry, the footer is a list of the entry's tech stack */
.techStack {

}
/* Actual tech entry in techStack, e.g. TypeScript */
.techStackEntry {

}
.techStackEntryIcon {

}
.techStackEntryLabel {

}
