@import "./vars.css";

/* Overwrite all browser defaults for universal class names like `body` */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: black;
    font: var(--font-sh-body);
}

.title {
    font: var(--font-sh-title);
}

.subtitle {
    font: var(--font-sh-subtitle);
}

p {
    margin: 0.5em 0;
}

li {
    margin: 0.5em 0;
}

hr {
    margin: 1em 0;
    border-color: var(--color-shadow-dark);
}

.App {
    background-color: var(--color-page-bg);
    min-height: 100%;    /* Page can grow beyond viewport */
    width: 100%;
    display: flex;  /* Like block, but block puts margin based on the contents; flex is around the drawn block. */
    flex-direction: column; /* Main axis is Y-axis */
    /* align-items: stretch; is set by default */
}
.App > .footer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-black-med);
}

.App > .footer .tagList {
    margin: 5% auto;

    font: var(--font-sh-detail);
    font-size: var(--font-size-body);
}
.App > .footer .tagList .entry {
    background-color: none;
    border: 1px solid var(--color-white-light);
    border-radius: 4px;
    text-decoration: none;
}
.App > .footer .tagList .entry .label {
    color: var(--color-white-med);
    text-decoration: none;
}
