:root {
    /* COLOR BY USE: Dye variables, by use */
    --color-page-bg: var(--circus-cream);

    --color-section-shade: var(--color-shadow-light);

    --color-card-bg: var(--color-white-light);
    --color-card-bg-light: white;
    --color-card-bg-dark: var(--color-white-med);
    --color-card-border: var(--circus-red-dark);
    --color-card-divider: var(--circus-red);
    --color-card-callout: var(--circus-yellow);

    --color-text-title: var(--color-black-med);
    --color-text-subtitle: var(--color-black-light);
    --color-text-body: var(--color-black-light);


    /* COLOR BY SHADE: Monochrome variables, by shade */
    --color-white-light: var(--paper-new);
    --color-white-med: var(--paper-aged);
    --color-white-dark: var(--paper-recycled);

    --color-black-lightest: var(--paper-smudge);
    --color-black-light: var(--black-slate);
    --color-black-med: var(--black-sand);
    --color-black-dark: var(--black-screen);
    --color-black-darkest: var(--paper-ink);

    --color-shadow-light: rgba(0, 0, 0, 0.05);
    --color-shadow-med: rgba(0, 0, 0, 0.1);
    --color-shadow-dark: rgba(0, 0, 0, 0.2);



    /* Typeface vars for use */
    --typeface-body: normal normal 400 1rem/1.4 "Caladea", serif;
    --typeface-strong: normal normal 700 1rem/1.4 "Caladea", serif;
    --typeface-emphasis: italic normal 400 1rem/1.4 "Caladea", serif;


    /* COLOR LIBRARY */
    --circus-cream: #f3e5cb;
    --circus-red: #ff0000;
    --circus-red-dark: #db0505;
    --circus-blue: #0f1ea8;
    --circus-yellow: #eaa542;

    --toy-red: #d12e3c;
    --toy-blue: #8aa5d0;
    --toy-yellow: #f0b200;
    --toy-green: #55a867;

    --beach-sand: #edd5c0;
    --beach-water: #b3d9e0;
    --beach-foam: #92ada4;

    --sunset-light: #f2d6a1;
    --sunset-med: #f1a805;
    --sunset-dark: #84572f;

    --paper-new: #f5f0e8;
    --paper-aged: #ede8dc;
    --paper-recycled: #d4ccb8;
    --paper-coffee-stain: #b85c2a;
    --paper-smudge: #8a7f6e;
    --paper-ink: #1a1814;

    --pool-sky: #c3d7ea;
    --pool-breeze: #6d8ec5;
    --pool-water: #4173B0;
    --pool-ball: #d3622d;
    --pool-sunscreen: #f0c846;
    --pool-towel: #eabcb5;

    --black-slate: #444343;
    --black-sand: #333333;
    --black-screen: #1e1e1e;

    /* Typeface library */
    .caladea-regular {
        font-family: "Caladea", serif;
        font-weight: 400;
        font-style: normal;
    }

    .caladea-bold {
        font-family: "Caladea", serif;
        font-weight: 700;
        font-style: normal;
    }

    .caladea-regular-italic {
        font-family: "Caladea", serif;
        font-weight: 400;
        font-style: italic;
    }

    .caladea-bold-italic {
        font-family: "Caladea", serif;
        font-weight: 700;
        font-style: italic;
    }
}