:root {
    /* COLOR BY USE: Pigmented variables, by use */
    --color-text-title:             var(--color-black-med);
    --color-text-subtitle:          var(--color-black-light);
    --color-text-body:              var(--color-black-light);
    --color-text-link:              var(--circus-blue);

    --color-page-bg:                var(--circus-cream);

    --color-deck-bg:                var(--color-shadow-light);

    --color-card-bg:                var(--color-white-light);
    --color-card-border:            var(--circus-red-dark);
    --color-card-divider:           var(--circus-red);

    --color-card-callout-bg:        white;
    --color-card-callout-border:    var(--circus-yellow);

    /* COLOR BY SHADE: Monochrome variables, by shade */
    --color-white-light:            var(--paper-new);
    --color-white-med:              var(--paper-aged);
    --color-white-dark:             var(--paper-recycled);

    --color-black-lightest:         var(--paper-smudge);
    --color-black-light:            var(--black-slate);
    --color-black-med:              var(--black-sand);
    --color-black-dark:             var(--black-screen);
    --color-black-darkest:          var(--paper-ink);

    --color-shadow-light:          rgba(0, 0, 0, 0.025);
    --color-shadow-light:          rgba(0, 0, 0, 0.05);
    --color-shadow-med:            rgba(0, 0, 0, 0.1);
    --color-shadow-dark:           rgba(0, 0, 0, 0.2);
    --color-shadow-darkest:        rgba(0, 0, 0, 0.4);

    /* COLOR library */
    --circus-cream: #f3e5cb;
    --circus-red: #ff0000;
    --circus-red-dark: #db0505;
    --circus-blue: #0f1ea8;
    --circus-yellow: #eaa542;

    --toy-red: #d12e3c;
    --toy-blue: #8aa5d0;
    --toy-yellow: #f0b200;
    --toy-green: #55a867;

    --beach-sand: #edd5c0;
    --beach-water: #b3d9e0;
    --beach-foam: #92ada4;

    --sunset-light: #f2d6a1;
    --sunset-med: #f1a805;
    --sunset-dark: #84572f;

    --paper-new: #f5f0e8;
    --paper-aged: #ede8dc;
    --paper-recycled: #d4ccb8;
    --paper-coffee-stain: #b85c2a;
    --paper-smudge: #8a7f6e;
    --paper-ink: #1a1814;

    --pool-sky: #c3d7ea;
    --pool-breeze: #6d8ec5;
    --pool-water: #4173B0;
    --pool-ball: #d3622d;
    --pool-sunscreen: #f0c846;
    --pool-towel: #eabcb5;

    --black-slate: #444343;
    --black-sand: #333333;
    --black-screen: #1e1e1e;



    /* FONT BY USE: Shorthand `font` vars */
    --font-sh-body:     normal normal 400 var(--font-size-body)/1.5     var(--font-family-body);
    --font-sh-title:    normal bold   700 var(--font-size-title)/1.5    var(--font-family-body);
    --font-sh-subtitle: normal bold   600 var(--font-size-subtitle)/1.5 var(--font-family-body);
    --font-sh-detail:   normal normal 300 var(--font-size-detail)/1.6   var(--font-family-detail);
    --font-sh-code:     normal normal 400 var(--font-size-detail)/1.5   var(--font-family-code);

    /* FONT BY ATTRIBUTE: Individual `font`-related vars */
    --font-family-body:   "Caladea", serif;
    --font-family-detail: "Lexend",  sans-serif;
    --font-family-code:   "DM Mono", monospace;

    --font-weight-regular: 400;
    --font-weight-bold:    700;

    --font-size-body:     1rem;
    --font-size-title:    2rem;
    --font-size-subtitle: 1.5rem;
    --font-size-detail:   0.9rem;

    /* FONT library */
    /*
        Caladea is the friendly, general-use serif typeface.
        Lexend is the modern, detail-specific sans-serif typeface.
        DM Mono is the code-like monospace typeface.

        For all three, valid font-weight values are from 100 to 900,
            with regular being 400
                and bold being 700
    */
}